[phases.setup]
nixPkgs = ["python313"]

[phases.install]
cmds = ["pip install -r requirements.txt"]

[start]
cmd = "gunicorn wsgi:application --bind 0.0.0.0:$PORT --workers 2 --timeout 300 --limit-request-line 0 --limit-request-field_size 0"
